#header {
	position: absolute-top;
	padding: 10px;
}

ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

a:hover {
	text-decoration: underline;
}

.menu-l {
	float: left;
}

.menu-r {
	float: right;
}

#apps {
    display: inline-block;
    padding: 5px 0px 10px 0px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -135px -40px;
    opacity: .55;
}

#sign-in {
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 3px;
    cursor: default;
    display: inline-block;
}

li a {
	padding: 8px;
	margin: 8px;
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 12px;
	color: #222;
}

#logo {
	padding-top: 170px;
	padding-bottom: 30px;
	height: 92px; 
	width: 272px;
}

.center {
	display: block;
	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
}

.search-bar {
	display: block;
	margin-left: auto;
 	margin-right: auto;
 	width: 428px;
 	height: 34px;
 	margin-bottom: 30px;
}

.search-bar:hover {
	width: 428px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.quick-search {
	text-align: center;
	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
}

.button {
    background-color: #f3f3f3;
    color: #757575;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 13px;
    margin: 4px 2px;
    cursor: default;
    display: inline-block;
    border-radius: 3px;
}

.button:hover {
	color: black;
	border: 1px #adadad solid;
}

p {
	text-align: center;
}

.light {
	font-family: arial,sans-serif;
	font-size: 12px;
	color: #222;
}


#footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	font-size: 13px;
	margin: 10px;
	padding-bottom: 15px;
	background-color: rgb(242, 242, 242);
}

#footer p {
	text-align: left;
	padding-left: 22px;
}
