#header {
	position: absolute-top;
	padding: 10px;
}

.light {
	font-weight: 8px;
}

ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

.menu-l {
	float: left;
}

.menu-r {
	float: right;
}

li a {
	padding: 8px;
	margin: 8px;
	text-decoration: none;
}

#logo {
	padding-top: 170px;
	padding-bottom: 30px;
	height: 92px; 
	width: 272px;
}

.center {
	display: block;
	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
}

.search-bar {
	display: block;
	margin-left: auto;
 	margin-right: auto;
 	width: 428px;
 	height: 34px;
 	margin-bottom: 30px;
}

.quick-search {
	text-align: center;
	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
}

.button {
    background-color: #f3f3f3;
    color: #757575;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 13px;
    margin: 4px 2px;
    cursor: default;
    display: inline-block;

}

p {
	text-align: center;
}

#footer-canada {
	position: fixed;
	bottom: 0;

}

#footer-main {
	position: fixed;
	bottom: 0;
}
